
<div class="row">
	<%= render 'courses/coursesidebarlayout' %>
	
		
		<%= render 'form' %>
		
		
		<%= link_to 'Back', class: "btn btn-link" %> |
        <%= link_to 'Next',  class: "btn btn-link" %>
	
</div>


