<div class="row">
     
      <%= render 'courses/coursesidebarlayout' %>
      
        <%= render 'form' , collection: @sections%>
          
          <div class="row">
          
          
      </div>
    
    

  </div>
    





