<h1>About US</h1>
Culture Hoops is a market place for anyone to offer courses related to various cultures and a platform for people to get access to world class content in a structured fashion. <br>

<p> Culture Hoops was conceptualized when we observed that a lot of what was eastern philosophy and culture was being greatly appreciated and accepted in the west but the depth was missing. We also observed that there were lot many teachers in India who had lot more to share but did not have a good distribution mechanism. For example “Shri Yog Abhyas Ashram, Ashram Road, Model Town, Panipat, Haryana instructor Hemanth Kumar” has been offering yoga instructions for more than 25 years but has a reach of not more than 15 Miles. We intend to provide a platform for teachers like Mr. Hemanth Kumar. </p>

<p> The people who started Culture Hoops are a team of husband and wife (Jishnu & Puja based out of CA, USA) and Mohit based in Delhi NCR, India. We intend to make culture hoops the number one site where people come to learn about culture
We believe in healthy living. knowing your culture. It is important to know your roots and etc etc etc.</p>
