
<div class="courseContent">
<div class="font17 pt8 pl8 pr8 pb8 bold colorLink"> Course Curriculum </div>
<ul class="list-group">
  <% if @sections %>
    <%@sections.each do |s| %>
      <li class="list-group-item list-group-item-info"><%=s.section%></li>
      <% s.videos.each do |video| %>
      <ul class="listVideo list-unstyled">
        <li class="list-group-item"><i class="fa fa-caret-square-o-right"></i> <%= video.title %>
          <span class="badge"><%=video.duration%></span>
        </li>
      </ul>
      <%end%>
    <% end %>
  <% end %>
</ul>
</div>
