

#wrapper_bu {
  position: relative;
  width: 100%;
  height: 100%;
}


//.txt_Center { margin: 0% 13% 0% 13% }
//.txt_h1 { font-size: 2em }
//.holder_bu { cursor: pointer }
//.holder_bu_awayL1 {
//  position: absolute;
//  top: 30%;
//  left: 10%;
//  width: 30%;
//  height: 50%;
//  /*background-color: rgba(0,0,50,0.7);*/
//  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
//  -moz-transition: width 1s, height 1s, top 1s, left 1s;
//  -o-transition: width 1s, height 1s, top 1s, left 1s;
//  -ms-transition: width 1s, height 1s, top 1s, left 1s;
//  transition: width 1s, height 1s, top 1s, left 1s
//}
//
//.holder_bu_awayL2 {
//  position: absolute;
//  top: 35%;
//  left: 0%;
//  width: 30%;
//  height: 50%;
//  /*background-color: rgba(0,0,50,0.5);*/
//  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
//  -moz-transition: width 1s, height 1s, top 1s, left 1s;
//  -o-transition: width 1s, height 1s, top 1s, left 1s;
//  -ms-transition: width 1s, height 1s, top 1s, left 1s;
//  transition: width 1s, height 1s, top 1s, left 1s
//}
//
//.holder_bu_center {
//  position: absolute;
//  top: 12%;
//  left: 30%;
//  width: 46%;
//  height: 90%;
//  /*background-color: #37c;*/
//  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
//  -moz-transition: width 1s, height 1s, top 1s, left 1s;
//  -o-transition: width 1s, height 1s, top 1s, left 1s;
//  -ms-transition: width 1s, height 1s, top 1s, left 1s;
//  transition: width 1s, height 1s, top 1s, left 1s;
//  z-index:1;
//}
//
//.holder_bu_awayR1 {
//  position: absolute;
//  top: 35%;
//  left: 75%;
//  width: 30%;
//  height: 50%;
//  /*background-color: rgba(0,0,50,0.7);*/
//  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
//  -moz-transition: width 1s, height 1s, top 1s, left 1s;
//  -o-transition: width 1s, height 1s, top 1s, left 1s;
//  -ms-transition: width 1s, height 1s, top 1s, left 1s;
//  transition: width 1s, height 1s, top 1s, left 1s
//}
//
//.holder_bu_awayR2 {
//  position: absolute;
//  top: 30%;
//  left: 65%;
//  width: 30%;
//  height: 50%;
//  /*background-color: rgba(0,0,50,0.5);*/
//  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
//  -moz-transition: width 1s, height 1s, top 1s, left 1s;
//  -o-transition: width 1s, height 1s, top 1s, left 1s;
//  -ms-transition: width 1s, height 1s, top 1s, left 1s;
//  transition: width 1s, height 1s, top 1s, left 1s
//}


/*.txt_Center {
  margin: 0 13%;
}
.txt_h1 {
  font-size: 2em;
}*/
.holder_bu {
  cursor: pointer;
}
.holder_bu_awayL1 {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 30%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_awayL2 {
  position: absolute;
  top: 25%;
  left: 1%;
  width: 30%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_center {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 42%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
  z-index: 1;
}
.holder_bu_awayR1 {
  position: absolute;
  top: 25%;
  left: 70%;
  width: 30%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}
.holder_bu_awayR2 {
  position: absolute;
  top: 20%;
  left: 58%;
  width: 30%;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s;
}