<div class="subhead">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="shape dropdown hamburgerDiv">
					<!--<%= link_to coursesByCategory_path(1.to_i),class: "dropdown-toggle", id:"browLib"  do%>-->
						<!--<span class="glyphicon glyphicon-menu-hamburger colorLinkDark"></span> Browse The Library-->
					<!--<% end %>-->
					<a href="#" data-toggle="dropdown" class="dropdown-toggle hamburgerMenu" id="browLib"><span class="glyphicon glyphicon-menu-hamburger colorLinkDark"></span> Browse The Library</a>
					<ul class="dropdown-menu menuDiv" id="menu1">
						<% toplevelmenu.each do |category| %>
						
						<li class="dropdown-submenu">
							<%= link_to category.name, coursesByCategory_path(category)%>
							
							<% if category.courses.count > 1%>
								
									<ul class="dropdown-menu subMenuCustom">
										<% category.courses.each do |course| %>
											<li><%= link_to course.name, course_path(course)%> </li>
											
										<%end%>
									</ul>
								
							<%end%>
						</li>
						<li class="divider"></li>
						<%end%>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box2">
					<input type="search" class="form-control" />
				</div>
				<button class="btn box3 search">
					Search
				</button>
			</div>
		</div>
	</div>
</div>