<div class="subhead">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<div class="text2 shape">
					<%= link_to coursesByCategory_path(1.to_i) do%>
						<span class="glyphicon glyphicon-menu-hamburger"></span> Browse The Library
					<% end %>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box2">
					<input type="search" class="form-control" />
				</div>
				<button class="btn box3 search">
					Search
				</button>
			</div>
		</div>
	</div>
</div>