<div class="subhead">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="shape">
					<a href="/courses"> <span class="glyphicon glyphicon-menu-hamburger colorLinkDark"></span> Browse The Library </a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box2">
					<input type="search" class="form-control" />
				</div>
				<button class="btn box3 search">
					Search
				</button>
			</div>
		</div>
	</div>
</div>