<div class="subhead">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="shape dropdown hamburgerDiv">
					<!--<%= link_to coursesByCategory_path(1.to_i),class: "dropdown-toggle", id:"browLib"  do%>-->
						<!--<span class="glyphicon glyphicon-menu-hamburger colorLinkDark"></span> Browse The Library-->
					<!--<% end %>-->
					<a href="#" data-toggle="dropdown" class="dropdown-toggle hamburgerMenu" id="browLib"><span class="glyphicon glyphicon-menu-hamburger colorLinkDark"></span> Browse The Library</a>
					<ul class="dropdown-menu menuDiv" id="menu1">
						<li>
						<li><a href="#">Yoga</a></li>
						<li class="divider"></li>
							<ul class="dropdown-menu sub-menu">
								<li>something</li>
							</ul>
						</li>
						<li><a href="#">Buddhism</a></li>
						<li class="divider"></li>
						<li><a href="#">Skishism</a></li>
						<li class="divider"></li>
						<li><a href="#">Ayurveda</a></li>
						<li class="divider"></li>
						<li><a href="#">Ayurveda</a></li>
						<li class="divider"></li>
						<li><a href="#">Meditation</a></li>
					</UL>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box2">
					<input type="search" class="form-control" />
				</div>
				<button class="btn box3 search">
					Search
				</button>
			</div>
		</div>
	</div>
</div>