<div class="header">
		<div class="container">
	<div class="row">
		<div class="col-lg-12">
		<div class="logo" ><%= image_tag("logo.png" , :alt => "yoga") %>
		<div class="subheader" ><%= image_tag("ftx.png", :alt => "ftx") %></div>
		</div>
		</div>
	</div>			
</div>
</div>

