<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 mt10 mb10">
				<div class="cLogo">
					Culture Hoops
				</div>
			</div>
			<div class="col-lg-7 tar mt10 mb10">
				<div class="row">
					<div class="col-lg-5">&nbsp;</div>
					
					
					<div class="col-lg-3 pt10">
						
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>


	
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>


	
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
					</span>

					</div>
					<div class="col-lg-4 pt15 tal font18 colorfff">
						<a href="#" class="colorfff">Join Now</a>
						<a href="#" class="colorfff pl10">Signin</a>
					</div>

					</div>

					</div>
					<!--<div class="logo" >
					<%= image_tag("logo.png" , :alt => "yoga") %>
					<div class="subheader" >
					<%= image_tag("ftx.png", :alt => "ftx") %>
					</div>
					</div>-->

					</div>
				</div>
			</div>
		</div>

