<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 mt10 mb10">
				<div class="cLogo">
					Culture Hoops
				</div>
			</div>
			<div class="col-lg-7 tar mt10 mb10">
				<div class="row">
					<div class="col-lg-5">&nbsp;</div>
					
					
					<div class="col-lg-3 pt10">
						
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>


	
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>


	
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
					</span>

					</div>
					<div class="col-lg-4 pt15 tal font18 colorfff">
						<a href="javascriptVoid(0)" class="colorfff pl10" data-toggle="modal" data-target="#join">Join Now</a>
						<a href="javascriptVoid(0)" class="colorfff pl10" data-toggle="modal" data-target="#login" id="signin" style="display: none;">Signin</a>
						<a href="javascriptVoid(0)" class="colorfff pl10 dropdown-toggle" data-toggle="dropdown" id="signOut" >Signout</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Index1</a></li>
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Index2</a></li>
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Index3</a></li>
					      <li role="presentation" class="divider"></li>
					      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Index3</a></li>
					    </ul>
					</div>

					</div>

					</div>
					<!--<div class="logo" >
					<%= image_tag("logo.png" , :alt => "yoga") %>
					<div class="subheader" >
					<%= image_tag("ftx.png", :alt => "ftx") %>
					</div>
					</div>-->

					</div>
				</div>
			</div>
		</div>

